@font-face {
  font-family: 'Logo';
  src: url('../fonts/Miskan\ Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'light';
  src: url('../fonts/HelveticaNeueLight.otf') format('openType');
}
@font-face {
  font-family: 'Regular';
  src: url('../fonts/HelveticaNeueMedium.otf') format('truetype');
}
@font-face {
  font-family: 'Header';
  src: url('../fonts/HelveticaNeueHeavy.otf') format('truetype');
}

body{
    height: 99%;
    width: 100%;
     overflow-y: hidden; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  #div1{
    background-color: white;
    height: 67%;

  }
#div2{
    background-image: url('blye.jpg');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    height: 34%;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 50px;
}

.section {
  flex: 1;
  color: white;
  padding-right: 20px;
}

.logo-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #6FE6FC;
   gap: 20px;
}

.logo {
  font-size: 100px;
  font-family: 'Logo';
  color: #6FE6FC;
  text-align: right;
  line-height: 0.9;
}

.logo h4 {
  font-size: 20px;
  font-family: 'Regular';
  color: white;
   
}

  
  .section h1, .section h3 {
    margin: 0;
    padding: 0;
    line-height: 1;

  }
  
  .section h1 {
    font-size: 40px;
    color:#6FE6FC ;
    font-family:'Header';
  }
  
  .section h3 {
    font-size: 19px;
    font-family:'light';
    font-weight: bold;
    }

  .section_logo {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 20px;
}

img {
  height: 35px;
  filter: brightness(0) saturate(100%) invert(86%) sepia(23%) saturate(749%) hue-rotate(153deg) brightness(102%) contrast(101%);
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.3);
}


    

  
